---
import BadgeGenerator from "@/components/BadgeGenerator.astro";
import ProjectContent from "@/components/ProjectContent.astro";
import BentoCard from "@/components/ui/BentoCard.astro";
import BentoGrid from "@/layouts/BentoGrid.astro";

type Project = {
	title: string;
	icon: string;
	links: { repo: string; app: string };
	content?: string;
	badges: { icon: string; name: string }[];
	cutoff: number;
};

const sheTreks: Project = {
	title: "SheTreks",
	icon: "carbon:mountain",
	links: {
		repo: "https://github.com/jasperteo/SheTreks-frontend",
		app: "https://shetreks.netlify.app",
	},
	content: `<p>
        A social media app for solo female travelers to connect and share
        experiences. Users can filter activities by interests, view activity
        locations on a map, and receive notifications for new or updated
        activities. They can also create and invite others to activities, and
        follow other users.
      </p>
      <p>
        As a PWA, it is installable as a native-like app with access to certain
        native features.
      </p>`,
	badges: [
		{ icon: "simple-icons:reactrouter", name: "React Router" },
		{ icon: "simple-icons:react", name: "React" },
		{ icon: "simple-icons:vite", name: "Vite" },
		{ icon: "simple-icons:reactquery", name: "TanStack Query" },
		{ icon: "simple-icons:reacthookform", name: "React Hook Form" },
		{ icon: "simple-icons:tailwindcss", name: "Tailwind CSS" },
		{ icon: "simple-icons:daisyui", name: "daisyUI" },
		{ icon: "simple-icons:googlemaps", name: "Vis.gl" },
		{ icon: "simple-icons:pwa", name: "PWA" },
		{ icon: "simple-icons:supabase", name: "Supabase" },
		{ icon: "simple-icons:clerk", name: "Clerk" },
		{ icon: "simple-icons:bun", name: "Bun" },
		{ icon: "simple-icons:hono", name: "Hono" },
		{ icon: "simple-icons:sequelize", name: "Sequelize" },
		{ icon: "simple-icons:postgresql", name: "Postgres" },
	],
	cutoff: 8,
};

const watchOut: Project = {
	title: "Watch Out",
	icon: "carbon:watch",
	links: {
		repo: "https://github.com/jasperteo/watch-out-frontend",
		app: "https://watch-outt.netlify.app",
	},
	content: `<p>
        A bidding platform where users can bid and buy Rolex watches. Users can
        also list their own watches for sale. The app features a chart to show
        the past few months of watch prices, giving users an idea of the market
        price.
      </p>
      <p>
        Bids are made in real-time by leveraging Socket.IO, and a Stripe
        integration is used for payments.
      </p>`,
	badges: [
		{ icon: "simple-icons:reactrouter", name: "React Router" },
		{ icon: "simple-icons:react", name: "React" },
		{ icon: "simple-icons:vite", name: "Vite" },
		{ icon: "simple-icons:reactquery", name: "TanStack Query" },
		{ icon: "simple-icons:reacthookform", name: "React Hook Form" },
		{ icon: "simple-icons:mui", name: "MUI" },
		{ icon: "simple-icons:firebase", name: "Firebase" },
		{ icon: "simple-icons:auth0", name: "Auth0" },
		{ icon: "simple-icons:stripe", name: "Stripe" },
		{ icon: "simple-icons:nodedotjs", name: "Node" },
		{ icon: "simple-icons:express", name: "Express" },
		{ icon: "simple-icons:socketdotio", name: "Socket.IO" },
		{ icon: "simple-icons:sequelize", name: "Sequelize" },
		{ icon: "simple-icons:postgresql", name: "Postgres" },
	],
	cutoff: 5,
};

const sgBuddy: Project = {
	title: "SG Buddy",
	icon: "carbon:earth-southeast-asia",
	links: {
		repo: "https://github.com/jasperteo/SG_Buddy",
		app: "https://ra-project2-b8ed4.web.app/",
	},
	content: `<p>
        An informational travellers app for travellers to Singapore. Users can
        search for food, attractions, and hotels, and view the location on a
        map. Users can also save their favourite places and view them later. The
        app also help users to plan their itinerary with flight and hotel
        details.
      </p>`,
	badges: [
		{ icon: "simple-icons:reactrouter", name: "React Router" },
		{ icon: "simple-icons:react", name: "React" },
		{ icon: "simple-icons:vite", name: "Vite" },
		{ icon: "simple-icons:swr", name: "SWR" },
		{ icon: "simple-icons:reacthookform", name: "React Hook Form" },
		{ icon: "simple-icons:mui", name: "MUI" },
		{ icon: "simple-icons:googlemaps", name: "Vis.gl" },
		{ icon: "simple-icons:firebase", name: "Firebase" },
		{ icon: "simple-icons:nodedotjs", name: "Node" },
	],
	cutoff: 6,
};

const priceQuery: Project = {
	title: "priceQuery",
	icon: "carbon:analytics",
	links: {
		repo: "https://github.com/jasperteo/priceQuery",
		app: "https://jasperteo.github.io/priceQuery/",
	},
	content: `<p>
        A simple app to check up the latest prices of different assets in the
        market. Users can search for the price and details of a stock,
        cryptocurrency, or foreign exchange currencies. The data is displayed in
        cards and the number of cards can be adjusted.
      </p>
      <p>Market data is from Polygon.io.</p>`,
	badges: [
		{ icon: "simple-icons:react", name: "React" },
		{ icon: "simple-icons:vite", name: "Vite" },
		{ icon: "simple-icons:swr", name: "SWR" },
		{ icon: "simple-icons:mui", name: "MUI" },
		{ icon: "simple-icons:bun", name: "Bun" },
	],
	cutoff: 3,
};

const projects: Project[] = [sheTreks, watchOut, sgBuddy, priceQuery];
---

<BentoGrid className="md:grid-cols-2">
	{
		projects.map(({ title, icon, links, content, badges, cutoff }) => (
			<BentoCard title={title} icon={icon}>
				<ProjectContent links={links} slot="content">
					<Fragment set:html={content} />
				</ProjectContent>
				<BadgeGenerator badges={badges} i={cutoff} slot="description" />
			</BentoCard>
		))
	}
</BentoGrid>
