---
import { Link } from "@kobalte/core/link";

import { MyTime } from "@/components/my-time";
import BentoCard from "@/components/ui/BentoCard.astro";
import { Button } from "@/components/ui/button";
import BentoGrid from "@/layouts/BentoGrid.astro";

const contactInfo = [
	{
		name: "GitHub",
		url: "https://github.com/jasperteo",
		icon: "line-md:github-loop",
	},
	{
		name: "LinkedIn",
		url: "https://www.linkedin.com/in/jaspertzj/",
		icon: "line-md:linkedin",
	},
	{
		name: "Twitter",
		url: "https://x.com/jasper_teo",
		icon: "line-md:twitter-x-alt",
	},
];

const myLocation = { lat: 1.287022, long: 103.854689 };

const yourLocation = {
	lat: Number(Astro.locals.runtime.cf?.latitude),
	long: Number(Astro.locals.runtime.cf?.longitude),
};

// Average radius of Earth in km
const R = 6371;

// φ = latitude in radians, λ = longitude in radians, Δ = delta (difference)
const φ1 = myLocation.lat * (Math.PI / 180);
const φ2 = yourLocation.lat * (Math.PI / 180);
const Δφ = φ2 - φ1;
const Δλ = (yourLocation.long - myLocation.long) * (Math.PI / 180);

const a =
	Math.sin(Δφ / 2) ** 2 + Math.cos(φ1) * Math.cos(φ2) * Math.sin(Δλ / 2) ** 2;

const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

const distance = Math.round(R * c).toLocaleString("en-US");
---

<BentoGrid className="md:grid-cols-25">
	<BentoCard
		className="md:(col-span-16 row-span-2)"
		title="About Me"
		icon="carbon:machine-learning"
	>
		<div class="h-full flex flex-col" slot="content">
			<div class="m-auto p-4 leading-7 space-y-6">
				<p>
					My name is <span class="text-orange-11 font-semibold">Jasper Teo</span
					>, and I focus on full stack development and web technologies. I am
					mainly interested building products that deliver a good user
					experience, leveraging on modern tools and technologies to improve
					productivity and developer experience. Always looking for
					opportunities to learn and grow.
				</p>
				<p>
					Currently looking for a full-time position as a software engineer.
				</p>
			</div>
			<div class="p-4 font-medium space-y-1">
				<p class="flex gap-2">
					<span class="text-orange-12">
						<iconify-icon inline icon="carbon:location"></iconify-icon>
						Singapore
					</span>
					<span>|</span>
					<span class="text-muted-foreground font-title">
						you are {distance} km away!
					</span>
				</p>
				<p class="flex gap-2">
					<span class="text-orange-12">
						<iconify-icon inline icon="carbon:time"></iconify-icon>
						<MyTime client:load />
					</span>
					<span>|</span>
					<span class="text-muted-foreground font-title">gmt +8</span>
				</p>
			</div>
		</div>
	</BentoCard>

	<BentoCard
		className="md:(col-span-9 row-span-1)"
		title="Contact"
		icon="carbon:at"
	>
		<ul class="m-auto p-4 font-title space-y-2.5" slot="content">
			{
				contactInfo.map(({ name, url, icon }) => (
					<li>
						<Button
							class="gap-x-2 text-lg text-inherit hover:text-primary"
							variant="link"
							as={Link}
							href={url}
							target="_blank"
							rel="noreferrer"
						>
							<iconify-icon icon={icon} />
							{name}
						</Button>
					</li>
				))
			}
		</ul>
		<div class="text-balance text-sm" slot="description">
			<span>Drop me an email at</span>
			<Link
				class="decoration-dotted hover:underline"
				href="mailto:hey@jasperteo.com"
			>
				<iconify-icon inline icon="carbon:email"></iconify-icon>
				hey@jasperteo.com
			</Link>
		</div>
	</BentoCard>

	<BentoCard
		className="md:(col-span-9 row-span-1)"
		title="Tech I Love"
		icon="carbon:terminal"
	>
		<ul class="m-auto p-4 font-mono space-y-2" slot="content">
			<li>
				<iconify-icon inline icon="logos:javascript"></iconify-icon>{" "}
				<iconify-icon inline icon="logos:typescript-icon"></iconify-icon> TypeScript
			</li>
			<li>
				<iconify-icon inline icon="logos:nodejs-icon"></iconify-icon>
				<iconify-icon inline icon="logos:bun"></iconify-icon>{" "}
				Node.js/Bun
			</li>
			<li>
				<iconify-icon inline icon="logos:react"></iconify-icon>{" "}
				<iconify-icon inline icon="logos:nextjs-icon"></iconify-icon> Next.js
			</li>
			<li>
				<iconify-icon inline icon="logos:postgresql"></iconify-icon>{" "}
				<iconify-icon inline icon="logos:supabase-icon"></iconify-icon> Supabase
			</li>
			<li>
				<iconify-icon inline icon="logos:hono"></iconify-icon> Hono
			</li>
			<li>
				<iconify-icon inline icon="logos:vitejs"></iconify-icon> Vite
			</li>
		</ul>
	</BentoCard>
</BentoGrid>
