---
import { ViewTransitions } from "astro:transitions";

import { defaultTheme, storageKey } from "@/lib/utils";
import type { Theme } from "@/lib/utils";

type Props = { title: string; description: string };

const { title, description } = Astro.props;
const url = import.meta.env.SITE;
const image = "https://storage.jasperteo.com/meta-image.png";

const theme: Theme =
  (Astro.cookies.get(storageKey)?.value as Theme) ?? defaultTheme;
const themeColor = theme === "dark" ? "#18181b" : "#fafafa";
---

<html lang="en" class={theme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <slot name="noindex" />

    <meta name="theme-color" content={themeColor} />

    <ViewTransitions />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="jasperteo.com" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
  </head>

  <body>
    <slot name="app" />
  </body>
</html>
