---
import { ViewTransitions } from "astro:transitions";

type Props = { title: string; description: string };
const { title, description } = Astro.props;

const image =
  "https://jjjyrvgqspmcyvsrrxzc.supabase.co/storage/v1/object/public/blob/meta-image.png";
---

<script data-cfasync="false" is:inline>
  const themeValues = ["dark", "light", "system"];
  const defaultTheme = "system";
  const storageKey = "theme";

  const useTheme = (document) => {
    let theme = localStorage.getItem(storageKey) ?? defaultTheme;
    if (theme !== "dark" && theme !== "light") {
      theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    document.documentElement.classList.remove(...themeValues);
    document.documentElement.classList.add(theme);
  };

  useTheme(document);

  document.addEventListener("astro:before-swap", (event) =>
    useTheme(event.newDocument)
  );
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:url" content="https://jasperteo.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="jasperteo.com" />
    <meta property="twitter:url" content="https://jasperteo.com" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
  </head>

  <body>
    <slot name="app" />
  </body>
</html>

<style is:global>
  :root {
    font-synthesis: none;
    color-scheme: light dark;
    background-color: light-dark(rgb(250 250 250), rgb(24 24 27));
  }

  iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
  }
</style>
