---
import { safeParse } from "@valibot/valibot";
import { ViewTransitions } from "astro:transitions";

import {
	color,
	defaultTheme,
	storageKey,
	themeEnum,
} from "@/components/theme-toggle";
import type { Theme } from "@/components/theme-toggle";

type Props = { title: string; description: string };

const { title, description } = Astro.props;
const image = "https://storage.jasperteo.com/meta-image.png";

const cookieTheme = Astro.cookies.get(storageKey)?.value;
const prefersTheme = Astro.request.headers.get("Sec-CH-Prefers-Color-Scheme");

const theme: Theme = safeParse(themeEnum, cookieTheme).success
	? (cookieTheme as Theme)
	: safeParse(themeEnum, prefersTheme).success
		? (prefersTheme as Theme)
		: defaultTheme;

const themeColor = theme === "light" ? color.light : color.dark;
---

<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"
></script>

<html lang="en" class={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="icon" href="/favicon.ico" sizes="48x48" />
		<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />

		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="theme-color" content={themeColor} id="tc" />
		<meta name="generator" content={Astro.generator} />
		<slot name="noindex" />

		<meta property="og:url" content={Astro.site.origin} />
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={image} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta property="twitter:domain" content="jasperteo.com" />
		<meta property="twitter:url" content={Astro.site.origin} />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={image} />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap"
			rel="stylesheet"
		/>

		<ViewTransitions />
	</head>

	<body>
		<slot name="app" />
	</body>
</html>
